export DBUSER= (User Database)
export DBPASS= ( Password Database)
export DBHOST= (Host Database)
export DBPORT= (Port Database)
export DBNAME= (Name Database)
export JWTSECRET= (Secret Jwt)
export CLDURL= (Cloudinary URL)
export EMAILFROM= (Email Sender)
export SMTPHOST= (SMTP Host)
export SMTPPORT= (SMTP Port)
export SMTPUSER= (SMTP User)
export SMTPPASS= (SMTP Password)
export PASSWDURL= (Password Reset URL)
export CLIENTID= (Client ID Google)
export CLIENTSECRET= (Client Secret Google)
export GOOGLEURL= (Google Callback URL)
export SCOPES= (Scopes Google)